.features {
	background-color: var(--background-color);
	position: relative;
	
	&::after {
		content: '';
		position: absolute;
		display: block;
		background-color: var(--background-color);
		width: 100px;
		height: 70px;
		left: calc(50% - (100px / 2)) ;
		bottom: -35px;
		border-radius: 50%;
	}
	
	&__wrapper {
		padding-top: 76px; 
		padding-bottom: 140px; 		
		max-width: 820px;				
		@include flex-container($flex-wrap: wrap, $justify-content: center, $align-items: flex-start);

		@include tablet-landscape-max-layout() {
			max-width: 100%;
			@include flex-container();			
		}
	}

	&__block {
		flex-basis: calc(100% / 2 - 20px / 2);

		@include tablet-landscape-max-layout() {
			flex-basis: 100%;			
		}
	}

	&__block:not(:nth-child(2n + 1)) {
		margin-left: 20px;

		@include tablet-landscape-max-layout() {
			margin-left: 0;
		}
	}

	&__block:nth-child(n + 3) {
		margin-top: 70px;

		@include tablet-landscape-max-layout() {
			margin-top: 0;
		}
	}
}