.portfolio {
	&__title,
	&__descr {
		text-align: center;
	}
	
	&__link {
		text-decoration: none;

		&:hover {
			color: var(--text-color-link-hover);
			font-weight: bold;
		}
	}	

	&__projects {
		margin-top: 30px;
	}
}